# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Local Infrastructure Bind Mounts
infrastructure/data/
deploy/infrastructure/data/

# Future frontend app dependencies
apps/web/node_modules/
